<div class="navbar-grid">
  <a routerLink="/news" class="individualBox">News</a>
  <a routerLink="/ranking" class="individualBox">Ranking</a>
  <a routerLink="/events" class="individualBox">Events</a>
  <a routerLink="/live" class="individualBox">Live</a>
  <a routerLink="/forum" class="individualBox">Forum</a>
  <div *ngIf="isLoggedIn; else notLoggedIn" class="individualBox">
    <span>{{ username }}</span>
  </div>
  <ng-template #notLoggedIn>
    <a (click)="openLoginForm()" class="individualBox">Account</a>
  </ng-template>
  <div class="searchBar">
    <input type="text" placeholder="Search" #Filter (input)="onSearch(Filter.value)">
    <button><img src="icons/search.png" alt="Search Icon" class="searchIcon"></button>
    <div *ngIf="searchResults.length > 0" class="search-results">
      <ul>
        <li *ngFor="let result of searchResults" (click)="navigateToResult(result)">
          {{ result.type }}: {{ result.name }}
        </li>
      </ul>
    </div>  
  </div>
</div>
<div *ngIf="showLoginForm" class="login-form-overlay" (click)="closeLoginForm($event)">
  <div class="login-form-container" (click)="$event.stopPropagation()">
    <app-login-form></app-login-form>
  </div>
</div>