.login-container {
  background-color: #182234;
  color: #c4c4c4;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 0px;
  text-align: center;
  border: 1px solid #1F242D;
  
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 0px;

}

.login-container .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #293462;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #1e2749;
}

.login-container a {
  color: #c4c4c4;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}
.error{
  font-size: 12px;
  color: red;
  margin-top: 0;
}
