.fecha-torneo {
    margin-bottom: 2rem;
  }
  
  .partidos-table {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  
  .partidos-table th, .partidos-table td {
    padding: 0.5rem;
    text-align: left;
    color: #979797;
  }
  
  .partidos-table tr {
    cursor: pointer;
  }
  .partidos-table .hora {
    width: 10%;
    font-size: 20px;
  }
  
  .partidos-table .equipos {
    width: 70%;
    font-size: 32px;
  }
  
  .partidos-table .ver-partido {
    width: 20%;
    text-align: right;
    font-size: 20px;
  }
  .partidos-table tr:hover {
    background-color: #303D57;
  }
  
  button {
    background-color: #303D57;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #1F242D;
  }
  h2{
    color: #979797;
    padding: 1rem;
  }

.fecha{
    font-size: 32px;
    font-weight: semi-bold;
    color: #979797;
    margin-bottom: 5px;
}
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }