.torneo-form {
    background-color: #303D57;
    padding: 2rem;
    border-radius: 10px;
    outline: 4px solid #1F242D;
    color: #ffffff;
  }
  .form-grid {
    display: flex;
    gap: 2rem;
  }
  .torneo-form h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .form-column {
    flex: 1;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #1F242D;
    color: #ffffff;
  }
  
  select.custom-select {
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5"><path fill="#ffffff" d="M2 0L0 2h4L2 0zm0 5L0 3h4l-2 2z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 8px 10px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  .form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.button-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button-group button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #ddd;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 0.5rem;
  cursor: pointer;
}

ul li:hover {
  background-color: #f0f0f0;
}