<app-alert [message]="alertMessage" [type]="alertType"></app-alert>
<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner"></div>
</div>
<div *ngIf="!isLoading && !pageNotFound; else error" class="profile-container">
    <div class="profile-header">
      <img src="https://purecatamphetamine.github.io/country-flag-icons/3x2/{{usuario?.pais}}.svg" alt="{{usuario?.pais}}" class="countryFlag">
      <div class="user-info">
        <p class="username">{{ usuario?.username }}</p>
      </div>
    </div>
    <hr>
    <div class="profile-content">
      <div class="holder2" *ngIf="usuario?.biografia">
        <h2>Biography</h2>
        <hr>
        <p>{{ usuario?.biografia }}</p>
      </div>
      <div class="holder1" *ngIf="noticias.length > 0">
        <h2>News</h2>
        <hr>
        <ul>
          <li *ngFor="let noticia of noticias">
            <a [routerLink]="['/news', noticia.id]" class="linkProfile">{{ noticia.titulo }}</a>
          </li>
        </ul>
      </div>
      <div class="holder1" *ngIf="topicos.length > 0">
        <h2>Topics</h2>
        <hr>
        <ul>
          <li *ngFor="let topico of topicos">
            <a [routerLink]="['/forum/', topico.foro.id, '/topic', topico.id]" class="linkProfile">{{ topico.titulo }}</a>
          </li>
        </ul>
      </div>
    </div>
    <button *ngIf="isLoggedIn && isCurrentUser" (click)="editProfile()">Edit profile</button>
    <button *ngIf="isLoggedIn && isCurrentUser" (click)="logout()">Logout</button>
  </div>
  <ng-template #error>
    <div *ngIf="pageNotFound">
      
        <div class="errorContainer">
          <p class="errorTitle">Page Not Found</p>
          <p class="errorText">The page you are looking for does not exist.</p>
        </div>
     
    </div>
  </ng-template>  